<style>

</style>


    <div class="text-center">
        <h1>Registration Form</h1>
     </div>
<div class="input-form">
    <div class="labeldiv">
        <label id="lblName" for="txtName" class="regLabels"> FirstName </label>
    </div>
    <div class="labeldiv">
           <input type="text" id="txtName" class="regFields" placeholder="Enter Firstname">
    </div>
</div>
<div class="input-form">
    <div class="labeldiv">
    <label id="lblName" for="txtName" class="regLabels"> LastName </label>
    </div>
    <div class="labeldiv">
        <input type="text" id="txtName" class="regFields" placeholder="Enter Last Name">
    </div>
</div>
<div class="input-form">
<div class="labeldiv">
 <label id="lblDOB" for="txtDOB" class="reglabels">DOB</label>
 </div>
 <input id="date" type="date" value="date" 
</div>
<div class="input-form">
<div class="labeldiv">    
 <label id="lblGender" for="txtGender" class="reglabels">Gender</label>
</div>
  <div class="labeldiv">

<input id="Gender" type="button" value="Male"/><input id="Gender" type="Button" value="Female"
</div>
</div>


<div class="input-form">
<div class="labeldiv">
 <label id=" lblMartialStatus" for="MartialStatus" class="reglabels">MartialStatus</label>
 </div>
 <input type="radio" id="radio" name="Martial status" value="married"
     </div>
    
 <label for="martial status">Married</label>
 <input type="radio" id="radio" name="Martial status" value="Unmarried"
 <label for="martial status">UnMarried</label>
</div>
</div>




<div class="input-form">
<div class="labeldiv">
<label id="lblWFH" for="WFH" class="reglabels">WFH</label>
</div>
<label id="lblWFH" for="WFH" class="reglabels">Yes</label>
<input type="checkbox" id="WFH" name="WFH" value="YES"
<label id="lblWFH" for="WFH" class="reglabels">No</label>
<input type="checkbox" id="WFH" name="WFH" value="No"
</div>
</div>



<div class="input-form">
<div class="labeldiv">
    <label id="Email" for="txtEmail" class="reglabels">Email</label>
    </div>
    <input id="Email" type="email" name="Email" placeholder="Enter Email" required>
</div>





    <div class="input-form">
<div class="labeldiv">
<label id="psw" for="txtpassword" class="reglabels">Password</label>
</div>
<input id="Password" type="password" name="psw" id="psw" placeholder="EnterPassword"    required >
</div>



    <div class="input-form">
<div class="labeldiv">
    <label id="phonenumber" for="phonenumber" class="reglabels">PhoneNumber</label>
    </div>
    <div class="labeldiv1">
    <input type="text" name="country code" placeholder="Enter PhoneNumber"
</div>
</div>


<div class="input-form">
<button>Submit</button>
        </div>
 



